body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 562.5%;
    margin: 50px;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.top {
    background-color: #E4F9F5;
    padding-top: 100px;
    height: 350px;
}

.bottom-cloud {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 250px;
    bottom: 250px;
}

.top-cloud {
    position: absolute;
    width: 200px;
    height: 150px;
    right: 260px;
    top: 40px;
}


.prof {
    height: 150px;
    width: 150px;
}

.middle {
    padding-top: 50px;
}

p {
    line-height: 2;
    text-align: center;
}


table {
    background-color: #E4F9F5;
    margin-left: 35px;
}

td {
    padding: 10px;
}

.photo {
    background-color: #E4F9F5;

}

.profa {
    height: 400px;
    width: 400px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2CB4AB);
    background-image: -moz-linear-gradient(top, #30E3CB, #2CB4AB);
    background-image: -ms-linear-gradient(top, #30E3CB, #2CB4AB);
    background-image: -o-linear-gradient(top, #30E3CB, #2CB4AB);
    background-image: linear-gradient(to bottom, #30E3CB, #2CB4AB);
    text-decoration: none;
}

.bottom {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: white;
    font-size: 15px;
    padding: 20px 0;
}